@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    /* @apply dark:bg-trueGray-900; */
  }
}

.navigatetion-wrap:after {
  content: "";
  position: absolute;
  display: block;
  top: 32px;
  /* left: 0; */
  background-image: url(/img/brands/header-brush.d06a56f5bc63.svg);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  /* border: 2px solid red; */
}

.partners-wrap:after{
  content: "";
    position: absolute;
    display: block;
    bottom: -888px;
    left: 0;
    background-image: url(/img/brands/footer-brush.5801c670cd02.svg);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
    z-index: 1;
    /* z-index: 20000000; */
    width: 100%;
    height: 80px;
}
